#include <iostream>
using namespace std;

int main ()
{

    jeszczeraz:

    cout<<"Czego pan sobie zyczy? 1. kurczaczek, 2. wolowinka, 3. jagniecinka"<<endl;
    int y;
    cin>>y;
    while (!(cin>>y))
    {
        cout<<"Zly format. Wybierz ponownie"<<endl;
        cin.clear();
        cin.sync();
        goto jeszczeraz;
    }

    switch(y)
    {
        case 1:
        cout<<"Wybral pan kurczaczka"<<endl;
        break;
        case 2:
        cout<<"Wybral pan wolowinke"<<endl;
        break;
        case 3:
        cout<<"Wybral pan spierdolinke"<<endl;
        break;
        default:
        cout<<"Wrong choice"<<endl;
        break;
    }



        cout<<"Jeszcze raz? [y/n]"<<endl;
        string wybor;
        cin>>wybor;
        if (wybor=="y") goto jeszczeraz;
        else
        {
            cout<<"Starczy tego gruby smieciu"<<endl;
        }





}
